{% import "../macros/book.html" as mcBook %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {{ mcBook.metatags(book) }}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="icon" href="https://www.gitbook.com/assets/images/logo/favicon.ico">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ "style.css"|assetUrl }}">
        <style type="text/css">
            {% block css %}
            /* Custom CSS */
            {% endblock %}
        </style>
        {% block head %}{% endblock %}
    </head>
    <body>
    {% block body %}
        <!-- Header with title -->
        <header>
            <div class="container">
                <h1>{{ book.title }}</h1>
            </div>
        </header>

        <!-- Details: cover, readme -->
        <div class="container">
            <div class="row">
                <div class="columns four">
                    <!-- Cover -->
                    <div class="cover">
                        <img src="{{ book.cover.large }}" />
                    </div>

                    <!-- Actions -->
                    <p>
                        <a href="{{ book.urls.read }}" class="button u-full-width">
                        {% if book.price > 0 and not book.permissions.read %}Buy Now for ${{ book.price.toFixed(2) }}{% else %}Read Online{% endif %}
                        </a>
                    </p>
                    {% if book.price > 0 and not book.permissions.read %}
                    <p>By buying this book, You get unlimited access to the online version (with any browser), and ebook versions (ePub, Mobi and PDF).</p>
                    {% else %}
                    <p>You can also download this book as: <a href="{{ book.urls.download.epub }}" rel="nofollow">ePUB</a>, <a href="{{ book.urls.download.mobi }}" rel="nofollow">MOBI</a> or <a href="{{ book.urls.download.pdf }}" rel="nofollow">PDF</a>.</p>
                    {% endif %}
                </div>
                <div class="columns eight">
                    <div class="details">
                        <!-- Intro -->
                        <div class="readme">
                        {{ mcBook.readme(book) }}
                        </div>

                        <hr>
                        <p>Written by {{ book.author.name }}{% for user in book.collaborators %}{% if loop.last %} and{% elif not loop.first %},{% endif %} {{ user.name }}{% endfor %}. Published as an ebook using <a href="https://www.gitbook.com">GitBook</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    </body>
</html>